/* For the trip title */
.trip-title {
  font-weight: 800;
  font-size: 2.2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.trip-title:hover {
  text-shadow: 0 0 8px rgba(255, 111, 97, 0.4);
  transform: scale(1.02)
}

/* For the start date */
.start-date {
  font-size: 1.3rem;
  font-style: italic;
  transition: all 0.3s ease;
  cursor: pointer;
}

.start-date:hover {
  text-shadow: 0 0 2px !important;
  transform: translateY(-1px);
}
