.editable-name {
  display: inline-block;
  cursor: pointer;
  transition: text-shadow 0.3s ease, color 0.3s ease;
  font-size: 2.5rem; /* Larger font */
  font-weight: 700;   /* Bolder text */
  color: #4A90E2;     /* A more striking blue */
}

.editable-name:hover {
  color: #1c6dd0; /* Darker on hover */
  text-shadow: 0 0 8px rgba(26, 123, 255, 0.7);
}

.input-grp-name {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-right: 16px;
    flex: 3 1 0;
}

.input-date {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-right: 16px;
    flex: 3 1 0;
}

.edit-icon {
  margin-left: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease, color 0.3s ease;
}

.editable-name:hover .edit-icon {
  transform: scale(1.3) rotate(10deg);
  color: #1c6dd0;
}


.date-line-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.editable-start-date {
  display: block; /* or keep inline-flex if desired */
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.5rem;
}


.editable-start-date:hover {
  color: #007bff;
  text-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.editable-end-date {
  display: block;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.editable-end-date:hover {
  color: #007bff;
  text-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

